.thePoke h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18pt;
}

.thePoke ul{
    list-style-type: none;
    margin-top: 5%;
    text-transform: capitalize;
    font-size: 8pt;
}