.thePoke h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18pt;
}

.thePoke a {
  color: #28a745;
  font-size: 8pt;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1%;
}

.thePoke a:hover {
  color: #aee4bb;
  text-decoration: none;
  transition: 0.3s;
}
