.imgBg {
  width: 100%;
  height: auto;
  filter: brightness(30%);
}

.pokeApp {
  position: absolute;
  top: 1%;
}

.pokeApp h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 30pt;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin: 10%;
  margin-top: 40%;
  color: #ffffff;
  -webkit-text-stroke: 1px #28a745;
}

.pokeApp a {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 8pt;
  font-weight: 600;
  width: 70%;
  margin-top: 5%;
  margin-left: 24%;
  padding: 5%;
  border: 2px solid #28a745;
}

.pokeApp a:hover {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

@media (min-width: 300px) and (max-width: 812px) {
  .imgBg {
    margin-top: 8%;
  }
}
.pokeApp {
  position: absolute;
  top: 5%;
}
